@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400 900;
  font-display: swap;
  src: url('/assets/fonts/inter-var.woff2') format('woff2');
}

* {
  font-family: var(--ion-font-family);
}
